annotated-types==0.8.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pymupdf==1.28.0
python-dotenv==1.2.2
python-multipart==0.0.32
typing-inspection==0.4.2
typing_extensions==4.16.0
